<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Log In</title>
     <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>
  <body class="bod">
    <div class="row">
   <div class="col-4"><h1>Rank.It★</h1></div>
   <div class="col-6"></div>
   </div>
   <br>
   <center><div class="form">
    <form action="/login" method="POST">
      <center><h1 style="color: #809bff">Log in!</h1></center><br><br>
    <input type="text" name="username" placeholder="UserName: ">
    <input type="password" name="pwd" placeholder="Password: ">
  <input type="submit" value="submit">
    </form>
    </div></center>
   
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for ('static', filename='js/script.js')}}"></script>
  </body>
</html>